# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij's files
.idea
out

# Ignore floobits - a plugin that eases pair programming
.floo
.flooignore

# Ignore Mac's baloney
.DS_Store
