#outermost_container {max-width: 500px;margin: auto;}
#inner_container {margin-left: 6px;margin-right: 6px;border: 2px solid grey;}

label {
  font-style: bold;
  font-size: 120%;
}

form {
  border: 2px solid #e2e2e2;
  margin: auto;
  background-color: white;
  padding: 10px;
  position: sticky;
  top: 46px;
}

td > form {
  padding: 0;
  margin: 0; 
  position: initial;
}

input {
  margin-bottom: 1em;
  padding: .8em 1em .8em 1em;
  font-size: 110%;
  border: 1.8px solid #3b3b3b;
  border-radius: .3em;
  width: 100%;
  background-color: #CFC1C1;
  color: #333333;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-size: 120%;
  margin: 8px 0 1px 0;
  color: white;
  background-color: #C65364;
  border: 1.8px solid #3b3b3b;
  border-radius: .5em;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

button:hover {
  color: #5f5f5f;
  background-color: #DDDDE5;
}

button:focus {
    outline: none;
    border-radius: .5em;
    border: 1.8px solid blue;
}

td > form > button {
  margin: 0px;
  padding: 0px;
  border-radius: 0.3em;
}

button:disabled {
    cursor: inherit;
    color: white;
    background-color: lightgray;
    border: 1.8px solid white;
}

table {
    table-layout: auto;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}


.container {
  border: 2px solid #e2e2e2;
  margin: auto;
  border-radius: .5em;
  background-color: white;
  padding: 10px;
}

.container tbody tr:nth-child(odd) {
  background: #d9ced0;
}

.container tbody tr:nth-child(even) {
  background: #fff;
}

.container table {
  color: black;
  border-spacing: 1px solid black;
}

.container table td {text-align: center;}

th#name {}

th#invitation {}

th#act {
}