#simpler_enter_time_panel label {
  font-style: bold;
  font-size: 120%;
}

#simpler_enter_time_panel form {
  border: 2px solid #e2e2e2;
  margin: auto;
  border-radius: .5em;
  background-color: white;
  opacity: 82%;
  width: 350px;
  padding: 10px;
}

#simpler_enter_time_panel input {
  margin-bottom: 1em;
  padding: .8em 1em .8em 1em;
  font-size: 110%;
  border: 1.8px solid #3b3b3b;
  border-radius: .3em;
  width: 100%;
  background-color: #CFC1C1;
  opacity: 82%;
  color: #333333;
  box-sizing: border-box;
}

#simpler_enter_time_panel select:focus,
#simpler_enter_time_panel input:focus {
    outline: none;
    background-color: inherit;
    border-radius: .3em;
    border: 1.8px solid blue;
}

#simpler_enter_time_panel select {
  margin-bottom: 1em;
  font-size: 110%;
  border: 1.8px solid #3b3b3b;
  border-radius: .3em;
  width: 100%;
  background-color: inherit;
  padding: .8em 1em .8em 1em;
  color: #333333;
  box-sizing: border-box;
}