/*
The following is for resetting the CSS to defaults
*/

em, img,
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
time, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

footer, header, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* This is necessary so Iphone doesn't override our styles */
textarea,
input
  {
-webkit-appearance: none;
}

 select {
-webkit-appearance: auto;
}

/*
RESET SECTION FINISHES
*/

@media only screen and (min-width: 751px) {

    header {
      background-color: #370F22;
      font-size: 24px;
      line-height: 35px;
      margin: 0;
      top: 0;
      height: 40px;
      padding: 4px;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      position: sticky;
    }

    html {
      background: url("dawnsunrise.webp") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      font-family: sans-serif;
      margin: 0;
    }

    .header-button {
      color: #ffffff;
      text-decoration: none;
    }
    .header-button:visited {
      color: #ffffff
    }
}


@media only screen and (min-width: 401px) and (max-width: 750px) {

    header {
      background-color: #370F22;
      font-size: 24px;
      line-height: 35px;
      margin: 0;
      top: 0;
      height: 40px;
      padding: 4px;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      position: sticky;
    }

    body {
      color: #885555;
      background-color: rgb(75, 109, 154);
      font-family: sans-serif;
      margin: 0;
      background-image: url("dawnsunrise.webp");
      background-size: 100vw 100vh;
    }

    .header-button {
      color: #ffffff;
      text-decoration: none;
    }
    .header-button:visited {
      color: #ffffff
    }

}


@media only screen and (max-width: 400px) {

    header {
      background-color: #370F22;
      height: 40px;
      padding: 4px;
      display: flex;
      justify-content: space-between;
      top: 0;
      z-index: 1;
      position: sticky;
    }

    body {
      color: #885555;
      background-color: rgb(75, 109, 154);
      font-family: sans-serif;
      margin: 0;
      background-image: url("dawnsunrise.webp");
      background-size: 100vw 100vh;
    }

    .header-button {
      color: #ffffff;
      text-decoration: none;
    }
    .header-button:visited {
      color: #ffffff
    }

    #header-logout {
    }

    #right-side-header {
    }

}