header {
  color: rgb(0, 134, 159);
  background-color: #370F22;
  font-size: 30px;
  margin: 0;
  top: 0;
  height: 40px;
  padding: 4px;
}

body {
  color: #885555;
  background-color: rgb(75, 109, 154);
  font-family: sans-serif;
  margin: 0;
  background-image: url("dawnsunrise.webp");
  background-size: 100vw 100vh;
}

.home-button {
  color: #ffffff;
  text-decoration: none;
}
.home-button:visited {
  color: #ffffff
}