h2 {
  text-align: center;
  font-size: 1.3em;
  margin: 10px;
  color: white;
}

a:hover
{
     color:black;
     text-decoration:none;
     cursor:pointer;
}

input {
  background-color: #dfffdf;
  border: 1px white solid;
  font-size: 1em;
/*   width: 6.8em;
  text-align: center;
  width: 100%; */
}

.project {
  width: 10em;
}

.date input {
  height: 1em;
  width: 100%;
}

.details {
  width: 15em;
}

.details input {
  width: 100%;
}

.time {
 width: 4em;
}

.project select {
  width: 100%;
  /* select requires a custom height, yuck */
  height: inherit;
}

button {
    cursor: pointer;
    text-align : center;
    /* width: 4.2em; */
    font-size: 1em;
    height: 2.2em;
    border: 2px solid #e2e2e2;
    background-color: #c35061;
    border-radius: .5em;
    margin: auto;
    padding: .4em;
}

button:hover {
  color: #5f5f5f;
  background-color: #DDDDE5;
}

button:focus {
    outline: none;
    border-radius: .3em;
    border: 1.8px solid blue;
}

.flex-container {
  flex-direction: column;
  display: flex;
  background-color: white;
  opacity: 82%;
}

.create-time-entry-row, .readonly-time-entry-row, .editable-time-entry-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px white solid;
/*   height: 2.1em; */
}

form {
  display: inherit;
  flex-wrap: inherit;
}

.project-date-and-time, .details-and-button {
  display: flex;
  flex-direction: row;
}